@implements IDisposable
@inject LoadingState LoadingState

@if (_visible)
{
    <div class="fixed top-0 left-0 right-0 z-50 pointer-events-none">
        <div class="h-1 bg-brand-500 animate-pulse"></div>
    </div>
}

@code {
    private bool _visible;

    protected override void OnInitialized()
    {
        LoadingState.Changed += OnChanged;
        _visible = LoadingState.IsLoading;
    }

    private void OnChanged()
    {
        InvokeAsync(() =>
        {
            _visible = LoadingState.IsLoading;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        LoadingState.Changed -= OnChanged;
    }
}
