<div class="flex items-center justify-between p-4 md:border-b md:border-slate-700">
	<a class="text-xl font-bold text-brand-500" href="">Eatah</a>
	<button title="Navigeringsmeny" class="md:hidden text-white" @onclick="ToggleNavMenu">
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
		</svg>
	</button>
</div>

<nav class="@NavCssClass md:block p-4 space-y-1">
	<NavLink class="flex items-center gap-2 px-3 py-2 rounded-md text-slate-200 hover:bg-slate-800"
			 ActiveClass="bg-brand-600 text-white hover:bg-brand-700"
			 href="" Match="NavLinkMatch.All"
			 @onclick="CollapseOnMobile">
		<span>📅</span>
		<span>Dashboard</span>
	</NavLink>
	<NavLink class="flex items-center gap-2 px-3 py-2 rounded-md text-slate-200 hover:bg-slate-800"
			 ActiveClass="bg-brand-600 text-white hover:bg-brand-700"
			 href="meals"
			 @onclick="CollapseOnMobile">
		<span>🍽️</span>
		<span>Maträtter</span>
	</NavLink>
	<NavLink class="flex items-center gap-2 px-3 py-2 rounded-md text-slate-200 hover:bg-slate-800"
			 ActiveClass="bg-brand-600 text-white hover:bg-brand-700"
			 href="diet-profiles"
			 @onclick="CollapseOnMobile">
		<span>🥗</span>
		<span>Profiler</span>
	</NavLink>
</nav>

@code {
	private bool _collapsed = true;

	private string NavCssClass => _collapsed ? "hidden" : "block";

	private void ToggleNavMenu() => _collapsed = !_collapsed;

	private void CollapseOnMobile() => _collapsed = true;
}

